@{
    ViewData["Title"] = "CV - Formação";
}

<div class="text-center">
    <!-- Este é um exemplo de uma linhadecomatarios-->
    <!-- Abaixo temos o exemplo de um titulo 1, pode variar ate ao 6-->
    <h1  class= "verde" >Formação</h1>
    <!-- o br permite criar umna quebra de linha-->
    <br />
    <h2> Aspirante a programação</h2><br />
    <img src="https://www.uteiserazoaveis.com/web/image/product.template/1/image_1024?unique=494e778"
         width="500" />
    <!-- a tag img apenas se abre edevo definir src(nome da imagem) e width /largura)-->
    <h2> Licenciatura em Contabilidade - 2ano</h2>
    <img src="https://sousamendes.pt/images/Demo/blog/img_cont1.jpg"
        width = "500"/>
    <h5> Autor: Claudia Veloso</h5>
    
</div>
