@{
    ViewData["Title"] = "Website Pessoal CV";
}

<div class="text-center">
    <!-- Este é um exemplo de uma linhadecomatarios-->
    <!-- Abaixo temos o exemplo de um titulo 1, pode variar ate ao 6-->
    <h1>Bem-Vindo ao primeiro site MVC</h1>
    <!-- o br permite criar uma quebra de linha-->
    <br />
    <img width="500" src="https://st2.depositphotos.com/1035250/7880/i/600/depositphotos_78805922-stock-photo-model-view-and-controller.jpg" />
     <h2>Desenvolvido em 24/04/2023</h2>
     <br />
    <h5> Autor: Claudia Veloso</h5>
    
</div>
