@{
    ViewData["Title"] = "Interesses";
}

<div class="text-center">
    <!-- Este é um exemplo de uma linhadecomatarios-->
    <!-- Abaixo temos o exemplo de um titulo 1, pode variar ate ao 6-->
    <h1> Interesses</h1>
    <!-- o br permite criar umna quebra de linha-->
    <br />
    <h4> Gosto de musica</h4>
    <p> Gosto de todo o tipo de música, mas sou fã incondicional de rock clássico.</p>
    <br />
    <iframe width="560" height="315" src="https://www.youtube.com/embed/8SbUC-UaAxE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <br />

 
    <!-- type =square (quadrado) disc (circuito fechado) circle (circulo aberto)-->
    <ul type="square">
        <li>Ténis</li>
        <li>Basquetebol</li>
        <li>Futebol</li>
        <li>Natação</li>
    </ul> 
    <h4> Morada do IEFP</h4>
    <br />
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3005.0984120146595!2d-8.62401102421758!3d41.13237757133343!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd246526a0e5d625%3A0xe4757ef1b4971b87!2sR.%20Valente%20Perfeito%20322%2C%204400-330%20Vila%20Nova%20de%20Gaia!5e0!3m2!1spt-PT!2spt!4v1682348856391!5m2!1spt-PT!2spt" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    <br />
    <h5> Autor: Claudia Veloso</h5>
    
</div>
