@{
    ViewData["Title"] = "Sobre Mim";
}

<div class="text-center">
    <!-- Este é um exemplo de uma linhadecomatarios-->
    <!-- Abaixo temos o exemplo de um titulo 1, pode variar ate ao 6-->
    <h1 class= "azul" > Sobre Mim</h1>
    <!-- o br permite criar umna quebra de linha-->
    <br />
    <h2> Aspirante a programação</h2> 
    <br />

    <p class="justify">
       Chamo-me Claudia Veloso, tenho 30 anos e vivo na Maia.</p>
    <p class="justify">
        Estive no Exército 6 anos, e agora decidi mudar de área para a programação, e estou a gostar, independentemente das dificuldades sentidas.
   </p>
    <p class="justify">
       Nos meus tempos livre adoro ir ao ginásio e conviver com os meus amigos.
   </p>
    <img width="500" src="https://scontent.fopo4-1.fna.fbcdn.net/v/t39.30808-6/302445430_5653955831338968_776582739923061291_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeGNXFIQmvK1jYzM_e5fm5tvgC9RRQgscOaAL1FFCCxw5nkPHkkDyoRr556fALzPc_ef2Kp82nEYqXCVB4eazHIR&_nc_ohc=rFg8_UeuhLEAX-jUULt&_nc_ht=scontent.fopo4-1.fna&oh=00_AfCq2JI4vi2hkZcedbzv1YXLcM8y3JynEzStwVzWU5-1NQ&oe=64740B73" />
  <br />
       <p>
    <h5> Autor: Claudia Veloso</h5>
    
</div>
